*.pyc
__pycache__/
cache/
climbs.json
journal.json
climb_groups.json
climb_names.json
climb_segments.json
validated_climbs.json
ignored_activities.json
cols.json
.cache/
.DS_Store
venv/
config.json
garmindb.log
garmindb.db
